.react-confirm-alert {
    width: 320px;
    margin: 0 auto;
}

.react-confirm-alert-body {
    width: auto;
    text-align: center;
}

.react-confirm-alert-button-group {
    justify-content: space-around;
}

.react-confirm-alert-button-group button{
    margin: 0 5px;
}