.flickity-prev-next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-viewport {
    overflow: hidden;
}

.previous {
    left: -40px;

}

.next {
    left: calc(100% - 5px);
}

@media(max-width: 600px){
    .flickity-prev-next-button {
        display: none;
    }
}